@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;

	background-color: #fff;

	color: #555;
	font: normal 100%/1.5 Georgia,serif;
}

body {
	margin: 0;
	padding: 0;
}

a {
	border-bottom: 0.1em solid #ccc;
	-o-transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	-webkit-transition: all 100ms linear;
	transition: all 100ms linear;

	color: #222;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	border-color: #000;

	color: #000;
}

h1 {
	margin: 0.7em 0 0.4em;

	font: normal 3em/1 coda,sans-serif;
}

h2 {
	margin: 0.5em 0 0.5em;

	font: normal 2.25em/1 Coda,sans-serif;
}

h3 {
	margin: 0.6em 0 1em;

	font: normal 1.5em/1 Coda,sans-serif;
}


.page-head {
	margin: 1em 0;

	font: normal 1.5em/1 Coda,sans-serif;
	text-align: center;
}

@media only screen and (min-width: 27em) {

	.page-head {
		font-size: 2.25em;
	}

}

@media only screen and (min-width: 50em) {

	.page-head {
		margin: 0.2em 0 0;
		overflow: hidden;
		padding-left: 0.3em;

		font-size: 3em;
		text-align: left;
	}

}

.content-lead {
	margin-top: 0.4em;
}

p {
	margin: 0 0 1.5em;
	padding: 0;
}

ul {
	margin: 0 0 1.5em;
	padding: 0;
}

hr {
	height: 0;
	margin: 1.5em 0;
	padding: 0;

	background-color: transparent;
	border: 0;
	border-top: 2px solid #ddd;
}

.banner {
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.flex-img {
	display: block;
	width: 100%;
}

.logo {
	margin: 0;
	padding: 0;

	color: #333;
	font: normal 2em/1 Coda,sans-serif;
	text-align: center;
}

.logo-link {
	display: block;
	margin: 0;
	padding: 1em 0.2em 0;

	background-color: #ccc;

	color: inherit;
	text-decoration: none;
	text-transform: uppercase;
}

@media only screen and (min-width: 27em) {

	.logo {
		font-size: 2.25em;
	}

}

@media only screen and (min-width: 50em) {

	.logo {
		float: left;
		min-width: 5.5em;
		padding-bottom: 8px;
		width: 25%;

		font-size: 3em;
	}

	.logo-link {
		padding-top: 2em;
	}

}

.nav-wrapper {
	overflow: hidden;
}

.nav {
	margin: 0;
	padding: 0;

	list-style-type: none;
}

.nav li {
	display: block;
}

.nav-link {
	display: block;

	color: inherit;
	text-decoration: none;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:visited {
	color: #333;
}

.nav-primary {
	font: normal 1.125em/1 Coda,sans-serif;
	text-align: center;
}

.nav-primary-link {
	padding: 0.6em 0.2em;

	border-bottom: 2px solid #000;
}

.nav-primary-link:hover,
.nav-primary-link:focus,
.nav-primary-link:active,
.nav-selected {
	background-color: #eee;
	border-color: inherit;
}

@media only screen and (min-width: 27em) {

	.nav li {
		display: inline-block;
		margin-right: 0.5em;
		position: relative;
	}

	.nav-primary {
		border-bottom: 2px solid #ddd;
	}

}

@media only screen and (min-width: 50em) {

	.nav li {
		display: inline-block;
		margin-right: 0.5em;
		position: relative;
	}

	.nav-primary {
		text-align: right;
	}

	.nav-primary-link {
		padding-top: 3em;
	}

}

@media only screen and (min-width: 38em) {

	.nav-secondary {
		float: right;
	}

	.nav-secondary li {
		margin-left: 0.5em;
		margin-right: 0;
	}

	.nav-secondary li:before {
		content: "·";
		left: -0.5em;
		position: absolute;
	}

	.nav-secondary li:first-child:before {
		display: none;
	}

}

.footer {
	margin-top: 1em;
	padding: 0.5em 8px 0;

	border-top: 2px solid #ddd;

	font-size: 0.875em;
}

@media only screen and (min-width: 38em) {

	.copyright {
		float: left;
	}

}

.captain,
.captain:link,
.captain:visited,
.captain:hover,
.captain:focus,
.captain:active {
	border-color: #586c54;

	color: #586c54;
}

.command,
.command:link,
.command:visited,
.command:hover,
.command:focus,
.command:active {
	border-color: #af872b;

	color: #af872b;
}

.sciences,
.sciences:link,
.sciences:visited,
.sciences:hover,
.sciences:focus,
.sciences:active {
	border-color: #2c5376;

	color: #2c5376;
}

.operations,
.operations:link,
.operations:visited,
.operations:hover,
.operations:focus,
.operations:active {
	border-color: #8f3e38;

	color: #8f3e38;
}
